.addListingPage {
  padding: 50px 100px;
}

.title {
  color: #021526;
  font-size: 32px;
  font-weight: bold;
  line-height: 38.4px;
  text-align: center;
}

.form {
  margin: 0 auto;
  margin-top: 80px;
  width: 790px;
  padding: 20px 0;
}

.buttonsContainer {
  display: flex;
  margin-top: 100px;
  gap: 20px;
  justify-content: flex-end;
}
