.addListingPage {
  padding: 50px 100px;
}

.title {
  color: #021526;
  font-size: 32px;
  font-weight: bold;
  line-height: 38.4px;
  text-align: center;
}

.form {
  margin: 0 auto;
  margin-top: 80px;
  width: 790px;
  padding: 20px 0;
}

.buttonsContainer {
  display: flex;
  margin-top: 100px;
  gap: 20px;
  justify-content: flex-end;
}

.container {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #021526;
}

.input {
  width: 384px;
  height: 42px;
  padding: 10px;
  color: #808a93;
  border-radius: 6px;
  border: 1px solid #808a93;
  margin-top: 6px;
  margin-bottom: 4px;
}

.helperText {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #021526;
}

.validText {
  color: #28a745;
}

.errorText {
  color: #dc3545;
}

.errorInput {
  border: 1px solid #dc3545;
}

.inputContainer {
  display: flex;
  gap: 14px;
}

.apartmentDetails {
  margin-top: 80px;
}

.containerTwo {
  display: flex;
  gap: 14px;
}
