.homepage {
  padding: 60px 100px;
}

.main {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rightDiv {
  margin-left: 12%;
  display: flex;
  gap: 8px;
}

.cardContainer {
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
