.label {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #021526;
  display: block;
}

.select {
  width: 384px;
  height: 42px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #808a93;
  margin-top: 6px;
}
