.container {
  margin-top: 28px;
}

.label {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #021526;
  display: block;
  margin: 8px 0px 5px 0;
}

.textarea {
  width: 788px;
  height: 135px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #808a93;
  resize: vertical;
}

.errorInput {
  border: 1px solid red;
}

.helperText {
  font-size: 0.9rem;
  margin-top: 4px;
}

.errorText {
  color: red;
}

.validText {
  color: green;
}
