.container {
  margin-bottom: 16px;
  display: flex;
  gap: 14px;
}

.label {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #021526;
}

.input {
  width: 384px;
  height: 42px;
  padding: 10px;
  color: #808a93;
  border-radius: 6px;
  border: 1px solid #808a93;
  margin-top: 6px;
  margin-bottom: 4px;
}

.helperText {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #021526;
}

.validText {
  color: #28a745; /* Green for valid */
}

.errorText {
  color: #dc3545; /* Red for errors */
}

.errorInput {
  border: 1px solid #dc3545; /* Red border for errors */
}
